@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}

:root {
    --clr-primary: #818efe;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #292f6079;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
    font-family: "Poppins-Regular";
}

body {
    font-family: "Poppins-Regular";
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow: hidden;
    background: #18191A;
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.5;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.yellow {
    color: rgb(255, 204, 0);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.danger {
    color: var(--clr-danger);
}

.warning {
    color: var(--clr-warnig);
}

.white {
    color: white;
}

.infodark {
    color: var(--clr-info-dark);
}

aside {
    height: 100vh;
}

aside .top {
    border-radius: 10px;
    background-color: #18191A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
}

aside .top div.close {
    display: none;
}

aside .sidebar {
    border-radius: 15px;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}

aside h3 {
    font-weight: 400;
}

aside .sidebar a {
    display: flex;
    color: silver;
    margin-top: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all.1s ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all.1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    color: rgb(255, 204, 0);
    background: #181818;
    margin-left: 0;
    margin-right: 0.3rem;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: gray;
}

.card-single3 button {
    background-color: none;
    display: flex;
    color: black;
    border-color: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    height: auto;
    gap: 10px;
    font-size: .8rem;
}

.card-single3 button:hover {
    transform: scale(1.2);
}

.avatar1 img {
    width: 30px;
    height: 30px;
}

.avatar1 button {
    background: none;
}

.right-aligned4 {
    position: absolute;
    top: 3px;
    right: 1rem;
}

.card-single3 button:hover {
    transform: scale(1.2);
}

aside .sidebar a:hover {
    color: var(--clr-danger);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease;
}

.skyblue {
    color: rgb(126, 219, 255);
}

aside .sidebar a span.msg_count {
    background-color: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0, 2);
    position: fixed;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}

header h2 {
    color: #222;
}

header h1 {
    display: flex;
    gap: .5rem
}

#setting {
    font-size: 2rem;
    color: var(--clr-success);
}

header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
}

.search-wrapper {
    border: 1px solid var(--clr-dark-variant);
    border-radius: 30px;
    height: 40px;
    width: 40%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    width: 85%;
    height: 50px;
    padding: .5rem;
    border: none;
    outline: none;
    background-color: #18191A;
    color: white;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper img:hover {
    transform: scale(1.05);
}

.user-wrapper small {
    display: inline-block;
    color: var(--clr-success);
    margin-top: -3px;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #18191A;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #242526;
    border-radius: 15px;
    padding: 2rem;
    border-radius: 15px;
}

.card-single:hover {
    background: #3e404a;
    transform: scale(1.05);
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--clr-success);
}

.card-single div:first-child span {
    color: var(--clr-primary);
}

.card-single:last-child {
    color: white;
}

.card-single2 button {
    background-color: rgb(235, 152, 135);
    display: flex;
    color: black;
    border-radius: 30px;
    padding: 1.5rem;
    height: 20%;
    gap: 10px;
    font-size: 2rem;
    width: 100%;
    align-items: center;
}

.card-single2 button span {
    font-size: 16px;
    font-weight: bold;
}

.card-single2:last-child {
    color: var(--clr-danger);
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 74% 27.5%;
}

.card {
    background: #242526;
    border-radius: 10px;
}

.text-hover:hover {
    color: white;
    transform: scale(1.03);
    text-decoration: underline;
    text-decoration-color: white;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background-color: var(--clr-danger);
    border-radius: 10px;
    color: black;
    font-size: .8rem;
    width: 80px;
}

.operation_locked span {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.operation_locked span button {
    font-weight: bold;
    background-color: silver;
    border-radius: 10px;
    color: black;
    font-size: .7rem;
    width: 80px;
    height: 20px;
    margin: center;
}

.operation_locked span button:hover,
.operation_actived span button:hover,
.operation_sendmail span button:hover,
.card-header button:hover {
    color: silver;
    background: var(--clr-light);
    transform: scale(1.2);
}

.card-single2 button:hover {
    color: black;
    background: var(--clr-danger);
    transform: scale(1.05);
}

.operation_actived span {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.operation_actived span button {
    font-weight: bold;
    background-color: rgb(68, 215, 61);
    border-radius: 10px;
    color: black;
    font-size: .7rem;
    width: 80px;
    height: 20px;
    margin: center;
}

.operation_sendmail span {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.operation_sendmail span button {
    font-weight: bold;
    background-color: rgb(0, 204, 255);
    border-radius: 10px;
    color: black;
    font-size: .7rem;
    width: 80px;
    height: 20px;
    margin: center;
}

.card-header1 button {
    background-color: var(--clr-danger);
    border-radius: 10px;
    color: black;
    font-size: .8rem;
    width: 30%;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: white;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.status.red {
    background: red;
}

.status.green {
    background: #1af81e;
}

.status.gray {
    background: gray;
}

.customer {
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    width: 100%;
    display: flex;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: white;
}

.info1 img {
    border-radius: 50%;
    margin-left: 0.5rem;
}

.info small {
    font-weight: 600;
    color: var(--clr-success);
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked+aside .sidebar {
    width: 70px;
}

#nav-toggle:checked+aside .logo {
    width: 70px;
}

#nav-toggle:checked~.main-content {
    transition: margin-left 300ms;
    margin-left: 70px;
}

.info1 tr td img:hover {
    transform: scale(1.2);
}

.info img:hover {
    transform: scale(1.2);
}

.text-hover1:hover {
    transform: scale(1.03);
}

.logo {
    gap: .5rem;
}

.logo img {
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin: auto;
}

.scrollable-content {
    height: 350px;
    overflow-y: auto;
}